{
    "testing-panel": (
        name: "testing-panel",
        anchor: Top,
        anchor_gap: false,
        layer: Top,
        keyboard_interactivity:OnDemand,
        size: XS,
        output: "",
        background: Color((0.2, 0.2, 0.2, 0.8)),
        plugins_left: Some(["com.system76.CosmicPanelAppButton", "com.system76.CosmicAppletWorkspaces"]),
        plugins_center: Some(["com.system76.CosmicAppletTime"]),
        plugins_right: Some(["com.system76.CosmicAppletNetwork", "com.system76.CosmicAppletGraphics", "com.system76.CosmicAppletBattery", "com.system76.CosmicAppletNotifications", "com.system76.CosmicAppletPower"]),
        expand_to_edges: false,
        padding: 2,
        spacing: 2,
        exclusive_zone: true,
        autohide: None,
    ),
    "testing-dock": (
        name: "testing-dock",
        anchor: Bottom,
        anchor_gap: false,
        layer: Top,
        keyboard_interactivity:OnDemand,
        size: L,
        output: "",
        background: Color((0.2, 0.2, 0.2, 0.8)),
        plugins_center: Some(["com.system76.CosmicAppList"]),
        plugins_left: None,
        plugins_right: None,
        expand_to_edges: true,
        padding: 4,
        spacing: 4,
        exclusive_zone: true,
        autohide: Some((
            wait_time: 500,
            transition_time: 200,
            handle_size: 2,
        )),
    ),
}
