(
    config_list: [
        (
            name: "Panel",
            anchor: Top,
            anchor_gap: false,
            layer: Top,
            keyboard_interactivity: OnDemand,
            size: XS,
            output: All,
            background: ThemeDefault,
            plugins_center: Some([
                "com.system76.CosmicAppletTime",
            ]),
            plugins_wings: Some((
                [
                    "com.system76.CosmicAppletWorkspaces",
                ],
                [
                    "com.system76.CosmicAppletAudio",
                    "com.system76.CosmicAppletNetwork",
                    "com.system76.CosmicAppletGraphics",
                    "com.system76.CosmicAppletBattery",
                    "com.system76.CosmicAppletNotifications",
                    "com.system76.CosmicAppletPower",
                    "com.system76.CosmicAppletStatusArea",
                ]
            )),
            expand_to_edges: true,
            padding: 2,
            spacing: 2,
            exclusive_zone: true,
            autohide: None,
            border_radius: 0,
            margin: 0,
            opacity: 0.9
        ),
        (
            name: "Dock",
            anchor: Bottom,
            anchor_gap: false,
            layer: Top,
            keyboard_interactivity: OnDemand,
            size: L,
            output: All,
            background: ThemeDefault,
            plugins_center: Some([
                "com.system76.CosmicAppList",
            ]),
            plugins_wings: None,
            expand_to_edges: false,
            padding: 4,
            spacing: 4,
            exclusive_zone: false,
            autohide: Some((
                wait_time: 500,
                transition_time: 200,
                handle_size: 2,
            )),
            border_radius: 12,
            margin: 0,
            opacity: 0.9
        ),
    ],
)
