(
    config_list: [
        (
            name: "Panel",
            anchor: Top,
            anchor_gap: false,
            layer: Top,
            keyboard_interactivity: OnDemand,
            size: XS,
            output: All,
            background: ThemeDefault,
            plugins_center: Some([
                "com.system76.CosmicAppletTime",
            ]),
            plugins_wings: Some((
                [
                    "com.system76.CosmicPanelWorkspacesButton",
                    "com.system76.CosmicPanelAppButton",
                ],
                [
                    "com.system76.CosmicAppletInputSources",
                    "com.system76.CosmicAppletStatusArea",
                    "com.system76.CosmicAppletTiling",
                    "com.system76.CosmicAppletAudio",
                    "com.system76.CosmicAppletNetwork",
                    "com.system76.CosmicAppletBattery",
                    "com.system76.CosmicAppletNotifications",
                    "com.system76.CosmicAppletBluetooth",
                    "com.system76.CosmicAppletPower",
                    
                ]
            )),
            expand_to_edges: true,
            padding: 0,
            spacing: 2,
            exclusive_zone: true,
            autohide: None,
            border_radius: 0,
            margin: 0,
            opacity: 1.0
        ),
        (
            name: "Dock",
            anchor: Bottom,
            anchor_gap: false,
            layer: Top,
            keyboard_interactivity: OnDemand,
            size: L,
            output: All,
            background: ThemeDefault,
            plugins_center: Some([
                "com.system76.CosmicPanelLauncherButton",
                "com.system76.CosmicPanelWorkspacesButton",
                "com.system76.CosmicPanelAppButton",
                "com.system76.CosmicAppList",
                "com.system76.CosmicAppletMinimize",
            ]),
            plugins_wings: None,
            expand_to_edges: false,
            padding: 0,
            spacing: 4,
            exclusive_zone: false,
            autohide: Some((
                wait_time: 500,
                transition_time: 200,
                handle_size: 2,
            )),
            border_radius: 16,
            margin: 0,
            opacity: 1.0
        ),
    ],
)
