button:hover.dock_item {
    transition: 300ms;
    border-width: 0px;
    background: #888888CC;
    border-radius: 12px;
}

button.dock_item {
    transition: 300ms;
    background: transparent;
    border-radius: 12px;
    border-width: 0px;
}

box:hover.dock_item {
    transition: 300ms;
    border-width: 0px;
    background: #888888CC;
    border-radius: 12px;
}

box.dock_item {
    transition: 300ms;
    background: transparent;
    border-radius: 12px;
    border-width: 0px;
}

label.dock_popover_title {
    color: white;
    margin: 4px;
}

popover.dock contents {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: #333333DD;
}

popover.dock arrow {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: #333333DD;
}

box.popover_menu {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: #333333DD;
}

list.popover_menu {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: #333333DD;
}

box.dock {
    border-radius: 12px;
    background: #000000DD;
}

box.popover_menu {
    transition: 300ms;
    border-width: 0px;
    background: transparent;
    border-radius: 12px;
}

image.dock {
    border-radius: 12px;
}

box.dock_dots {
    border-radius: 2px;
    padding: 2px;
    background: white;
}

box.transparent {
    background:: transparent;
}

window.root_window {
    background: transparent;
}
